<div id="<%= dom_id reservation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Reserva em nome de:</strong>
    <%= reservation.created_by %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%= reservation.date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Dias:</strong>
    <%= reservation.days %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Apartamento:</strong>
    <%= reservation.apt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Bloco:</strong>
    <%= reservation.bloco %>
  </p>
</div>
