<div class="w-full">
  <% if notice.present? %>
    <!-- <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p> -->
    <p class="absolute bottom-4 left-1/4 uppercase p-2 rounded bg-green-50 mb-5 text-green-500 font-bold" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Reservations" %>
  <div class="flex justify-between items-center m-2">
    <h1 class="font-semibold text-4xl">Lista de Reservas Salão - Residencial Araucária</h1>
    <%= link_to "Fazer reserva", new_reservation_path, class: "bg-blue-950 text-white font-bold p-2 rounded uppercase" %>
  </div>
  <div id="reservations" class="min-w-full">
    <% @reservations.each do |reservation| %>
      <%= render reservation %>
      <p>
        <%= link_to "Show this reservation", reservation, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
