<!DOCTYPE html>
<html>
  <head>
    <title>AGENDÁUCARIA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag "tailwind" , "inter-font" %> <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main>
      <div class="bg-blue-950 text-white rounded-b-md p-6 flex justify-around items-center flex-row">
        <%= link_to "AGENDÁUCARIA", root_path, class: "font-bold text-2xl" %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
