<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag "tailwind" , "inter-font" %> <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main>
      <%# <p class="notice"><%= notice </p>%>
      <%# <p class="alert"><%= alert </p>%>
      <div class="bg-blue-950 text-white rounded-b-md p-6 flex justify-around items-center flex-row">
        <%= link_to "AGENDÃUCARIA", authenticated_root_path, class: "font-bold text-2xl" %>
        <div class="flex flex-row justify-between gap-2">
          <% if user_signed_in? %>
            <%= link_to "Minha Conta", edit_user_registration_path, class:"bg-blue-900 uppercase font-bold rounded p-2"   %>
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, class:"bg-blue-900 uppercase font-bold rounded p-2" %>
          <% else %>
            <%= link_to 'Logar' , new_user_session_path, class:"bg-blue-900 uppercase font-bold rounded p-2" %>
            <%= link_to 'Cadastrar-se' , new_user_registration_path, class:"bg-blue-900 uppercase font-bold rounded p-2" %>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
